#discount{
    padding: 130px 0;
    .dis_item{
        img{
            margin-bottom: 30px;
        }
        h4{
            font-size: 25px;
            font-weight: 600;
            line-height: 30.26px;
            margin-bottom: 5px;
        }
        p{
            color: #676767
        }
    }
}