#choose{
    padding-bottom: 130px;
    .choose_head{
        margin-bottom: 47px;
         h2{
            font-weight: 700;
            font-size: 35px;
            line-height: 42px;
         }
    }
    .choose_items{
        img{
            margin-bottom: 49px;
        }
        h6{
            font-size: 600;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        p{
            line-height: 28px;
            color: #676767;
            padding: 0 20px;
        }
    }
}